@import url('https://fonts.googleapis.com/css?family=Pattaya');

html, body {
  height: 100%;
}

.navbar {
  background-color: #000;
}

#nav-custom {
  background-color: #3943A6;
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
}

.main-container {
  min-height: 100%;
}

.main {
  padding-bottom: 70px;
}
#footer {
  background-color: #3943A6;
  height: 70px;
  margin-top: -70px;
  position: relative;
}

#footer-icon {
  color: white;
  font-size: 20px;
}

#footer-icon:hover {
  color: #C2F970;
}

.icon-row {
  text-align: center;
}

.footer-content {
  text-align: center;
  font-family: sans-serif;
  color: #fafafa;
  padding-top: 10px;
}

/* Index.html */

.brand-name {
  font-size: 22px;
  font-family: 'Pattaya';
  letter-spacing: 1px;
  font-weight: bold;
  color: #C2F970;
}

#brand-color {
  color: #C2F970;
}

.page-section-dark {
  background-color: #4F5E65;
  padding: 10px 20px;
}

.title-pop {
  color: #EBE7E7;
  margin-left: 10px;
  font-size: 19px;
}

#search-box {
  margin-top: 30px;
}

.text-center {
  font-size: 20px;
}

.search-title {
  font-family: 'Pattaya';
  color: #2F3788;
}

#searchForm {
  background-color: #535f65;
  color: #fafafa;
  margin-left: 5px;
  border-radius: 0;
}

.well-results {
  width: 216px;
  height: 310px;
  border-radius: 0;
  background: #70858F;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.image-well {
  min-width: 110px;
  max-width: 110px;
  min-height: 185px;
  max-height: 185px;
}

#btn-detail {
  font-size: 13px;
  background-color: #C2F970;
  color: black;
  font-weight: bold;
  border-color: transparent;
  margin-top: -9px;
}

#btn-detail:hover {
  background-color: #fafafa;
  transition: 0.3s;
}

.title-small {
  font-size: 16px;
  color: #fafafa;
}

a:hover {
  text-decoration: none;
}

.main-section {
  width: 800px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  height: 515px;
}

.title-section {
  font-family: 'Pattaya';
  color: #2F3788;
}

.half-section {
  width: 400px;
  height: 422px;
}

.image-front-page {
  height: 442px;
  width: 400px;
}

/* Film.html */

.img-poster {
  max-height: 400px;
  min-height: 400px;
}

#info-first {
  background: lightgrey;
  border-radius: 0;
  padding-top: 20px;
  margin-top: -19px;
}

.overview {
  padding-left: 26px;
  border-radius: 0;
  background: #70858F;
}

#recommend {
  padding-top: 20px;
}

.film-title {
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 20px;
  margin: 0;
  resize: horizontal;
  color: #fafafa;
}

.btn-primary {
  height: 32px;
  margin-bottom: 10px;
}

a .btn {
  border-radius: 0;
}

.pop-img {
  max-height: 200px;
  min-height: 200px;
}

.title-overview {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  color: #EBE7E7;
}

.overview-description {
  color: #fff;
}

.rec {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.title {
  font-size: 25px;
  margin: 10px 0;
  color: #535f65;
  font-weight: bold;
}

.title-truncate {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 20px;
  margin: 0;
  resize: horizontal;
}

/* Media Query */

@media (max-width: 767px) {
  .second-section {
    margin-top: 43px;
  }
}

@media (max-width: 768px) {
  .img-poster {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 228px;
  }
  .title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  #film-details {
    margin-bottom: 30px;
  }
  .rec {
    margin: 30px 11px 0;
    text-align: center;
  }
  .title-small {
    font-size: 15px;
  }
  #recommend {
    padding: 20px;
  }
  #search-box {
    padding: 4rem 2rem;
  }
  .text-center {
    margin-bottom: 23px;
  }
  .main-section {
    width: 600px;
  }
  .half-section {
    width: 300px;
  }
  .image-front-page {
    width: 300px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .desc {
    /*  margin-left:  174px; */
    margin-left: 185px;
  }
}
