img {
  padding: 14px;
  max-height: 220px;
  min-height: 220px;
}

.page-section-dark {
  background-color: #535f65;
  border-top: 1px solid #e7eef5;
  border-bottom: 1px solid #84b0c9;
  padding: 10px 0;
}

.text-center {
  font-size: 20px;
}

.title-pop {
  color: #fafafa;
  margin-left: 10px;
  font-size: 19px;
}

.navbar {
  background-color: #000;
}

.img-poster {
  max-height: 400px;
  min-height: 400px;
}

.desc {

  padding-left: 90px;
}

.overview {
  padding-left: 26px;
}

.container {
  padding-top: 20px;
}


#recommend {
  padding-top: 20px;
}

#searchForm {
  background-color: #535f65;
  color: #fafafa;
  margin-left: 5px;
}

.brand-name {
  font-size: 30px;
  font-family: Poiret One;
  letter-spacing: 4px;
  font-weight: bold;
}

.film-title {
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 20px;
  margin: 0;
  resize: horizontal;
}

.well-results {
  background-color: #e9ecef;
  box-shadow: 10px 5px;
  max-width: 190px;
  min-width: 190px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.btn-primary {
  height: 32px;
  margin-bottom: 10px;
}

a .btn {
  border-radius: 0;
}

.title-small {
  font-size: 16px;

}

.pop-img {
  max-height: 200px;
  min-height: 200px;
}

#search-box {
  margin-top: 30px;
}

#btn-detail {
  font-size: .9rem;
}

.title-overview {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.rec {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.title {
  font-size: 25px;
  margin: 10px 0;
  color: #535f65;
  font-weight: bold;
}

.title-truncate {
  width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 20px;
      margin: 0;
      resize: horizontal;
}
/* Media Query */

@media (max-width: 768px) {
  .img-poster {
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
  .title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  #film-details {
    margin-bottom: 30px;
  }

  .rec {
    margin: 30px 11px 0;
    text-align: center;
  }
  .title-small {
    font-size: 15px;
  }
  #recommend {
    padding: 20px;
  }
  #search-box {
    padding: 4rem 2rem;
  }
  .text-center {
    margin-bottom: 23px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .desc {
    margin-left: 57px;

  }
}
